@model First_Project.Models.Bankf

@{
    ViewData["Title"] = "Details";
    Layout = "_Dashboard";
}

<h1>Details</h1>

<div>
    <h4>Bankf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Expire Date
        </dt>
        <dd class = "col-sm-10">
            Expire Date
        </dd>
        <dt class = "col-sm-2">
            Card Number
        </dt>
        <dd class = "col-sm-10">
            Card Number
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
