@model First_Project.Models.Useraccf

@{
    ViewData["Title"] = "Profile";

    if (ViewBag.role == 1)
    {
        Layout = "_dashboard";
    }
    else if (ViewBag.role == 2)
    {
        Layout = "_Home";
    }
    

}

<h1>Profile</h1>

<h4>Useraccf</h4>




  <!-- End Header -->

  <!-- ======= Sidebar ======= -->


  

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="~/image/@Model.Imagepath" alt="Profile" class="rounded-circle">
              <h2>Kevin Anderson</h2>
              <h3>Web Designer</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

               

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                   <div class="col-lg-3 col-md-4 label ">First Name</div>
                                <div class="col-lg-9 col-md-8">@ViewBag.Fname</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Last Name</div>
                                <div class="col-lg-9 col-md-8">@ViewBag.Lname</div>
                  </div>

                 

                  

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                <div class="col-lg-9 col-md-8">@ViewBag.Phonenumber</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">@ViewBag.Email</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                                    <form asp-action="Profile" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />

                                        <div class="form-group">
                                            <label asp-for="ImageFile" class="control-label"></label>
                                            <input asp-for="ImageFile" class="form-control" accept="image/*" />
                                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Fname" class="control-label"></label>
                                            <input asp-for="Fname" class="form-control" />
                                            <span asp-validation-for="Fname" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Lname" class="control-label"></label>
                                            <input asp-for="Lname" class="form-control" />
                                            <span asp-validation-for="Lname" class="text-danger"></span>
                                        </div>


                                        <label for="Email" class="form-label">Email</label>
                                        <input type="email" name="Email" value="@ViewBag.Email" class="form-control" id="yourUsername" required>
                                        <div class="invalid-feedback">Please enter your Email.</div>




                                        <div class="form-group">
                                            <label asp-for="Phonenumber" class="control-label"></label>
                                            <input asp-for="Phonenumber" class="form-control" />
                                            <span asp-validation-for="Phonenumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </form>

                </div>

              

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>


